*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
.idea
.svn
.classpath
.project
.settings
target
build
*.retry
docker-compose.yml
hosts.layout
*.pyc
.env
autotests
productions/**/*.tar.gz
productions/**/*.zip
productions/**/*.tgz